# Creando variables dummy


<img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="drawing" width="200"/>

En esta publicación se muestra como crear variables dummy a partir de variables cualiatativas.

In [1]:
import pandas as pd

## Ejemplo 1: usando pandas

Vamos a crear un marco de datos sencillo. La variables x1 y x2 tienen cada una tres niveles.

In [2]:
data = pd.DataFrame()
data['x1'] = ['a', 'c', 'b', 'a']
data['x2'] = ['p', 's', 's', 'r']
data['y'] = [2.5, 5.3, 3.6, -4.2]

print('Datos originales \n')
print(data)

Datos originales

  x1 x2    y
0  a  p  2.5
1  c  s  5.3
2  b  s  3.6
3  a  r -4.2

Vamos a usar la función `pd.get_dummies` sin modificar sus argumentos, para transformar las variables x1 y x2.

In [3]:
pd.get_dummies(data[['x1', 'x2']])

   x1_a  x1_b  x1_c  x2_p  x2_r  x2_s
0     1     0     0     1     0     0
1     0     0     1     0     0     1
2     0     1     0     0     0     1
3     1     0     0     0     1     0

De la salida anterior vemos que aparecen tantas columnas como niveles tiene la variable cualitativa.

Vamos a usar `pd.get_dummies` para transformar las variables x1 y x2. Vamos a explorar el efecto de `drop_first=True`.

In [4]:
dummy_data = pd.get_dummies(data[['x1', 'x2']], drop_first=True)

print('Datos transformados \n')
print(dummy_data)

Datos transformados

   x1_b  x1_c  x2_r  x2_s
0     0     0     0     0
1     0     1     0     1
2     1     0     0     1
3     0     0     1     0

De la salida anterior vemos que __NO__ aparecen las columnas asociadas a los niveles de referencia de x1 ("a") ni x2 ("p").

## Ejemplo 2: usando pandas

Vamos a crear otro marco de datos sencillo.

In [5]:
datos = pd.DataFrame()
datos['precio'] = [12, 15, 25, 11, 16, 7]
datos['area'] = [3, 4, 1, 6, 5, 3]
datos['pisci'] = ['Grande', 'Sin', 'Pequena', 'Pequena', 'Sin', 'Grande']

print('Datos originales \n')
print(datos)

dummy_data = pd.get_dummies(datos, prefix_sep='_&_', drop_first=True)

print('\n')
print('Datos transformados \n')
print(dummy_data)

Datos originales

   precio  area    pisci
0      12     3   Grande
1      15     4      Sin
2      25     1  Pequena
3      11     6  Pequena
4      16     5      Sin
5       7     3   Grande


Datos transformados

   precio  area  pisci_&_Pequena  pisci_&_Sin
0      12     3                0            0
1      15     4                0            1
2      25     1                1            0
3      11     6                1            0
4      16     5                0            1
5       7     3                0            0